.feedback-container {
  width: 100%;
  min-height: 40vh;
  background: #f8f5ed;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.feedback-content {
  width: 90%;
  max-width: 900px;
  background: #fffdf6;
  border-radius: 12px;
  padding: 40px 60px;
  display: flex;
  gap: 50px;
}

.feedback-left {
  width: 40%;
  text-align: left;
}

.feedback-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000ff;
}

.feedback-title span {
  color: #000000ff;
}

.feedback-description {
  width: 90%;
  margin-bottom: 20px;
  font-size: 16px;
}

.feedback-email {
  color: #0b5f27;
  font-size: 16px;
  margin-top: 10px;
}

.feedback-form {
  width: 60%;
}

.feedback-form-label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

.feedback-name-row {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.feedback-name-row input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff2cc;
  font-size: 14px;
}

.feedback-full-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff2cc;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 130px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff2cc;
  font-size: 14px;
  margin-bottom: 20px;
  resize: vertical;
}

.feedback-submit-btn {
  width: 30%;
  background: #0b5f27;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.feedback-submit-btn:hover {
  background: #08481e;
}
